<launch>
<node pkg="joy" type="joy_node" name="joy_node" output="screen" respawn="true"/>
<node pkg="lidar_potential_field" type="pot_frame_transformed" name="pot_frame_transformed" output="screen" respawn="true"/>

<node pkg="vph_ros" type="user_input" name="user_input" output="screen" respawn="true"/>

</launch>